
$font: 'IM Fell Double Pica', serif;

body {
  margin: 0;
}
.img {
  height: 110vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  background-image: url("../images/1.jpg");
  .center {
    width: 100%;
    padding-top: 200px;
  }
  #killjoy {
    background-image: url("../images/Killjoy.svg");
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    margin: auto;
    origin-transform: center;
  }
  #baseline {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-family: $font;
    margin-top: 10em;
  }
}
.thegame {
  background-image: url("../images/2.jpg");
  display: flex;
  .flex1 {
    width: 50%;
  }
  .flex2 {
    width: 50%;
    .download {
      background-image: url("../images/download1.png");
      width: 300px;
      height: 50px;
      margin: 50% auto;
      a {
        color: white;
        font-family: $font;
        font-size: 1.5em;
        position: relative;
        top: 10px;
        left: 65px;
        color: brown;
      }
    }
  }
  .text {
    padding-top: 20em;
    padding-left: 5em;
    i {
      padding-bottom: 1em;
    }
  }
}
.about {
  background-image: url("../images/3.jpg");
  .text {
    float: right;
    padding-right: 5em;
    padding-top: 20em;
  }
}
p {
  font-family: $font;
  font-size: 1.3em;
  color: white;
  margin-top: 0;
  width: 30em;
}
@media screen and (max-width: 750px) {
  p {
    text-align: center;
    margin: auto;
    padding-top: 10em;
    width: 80%;
    font-size: 1.2em;
  }
  .thegame, .about {
    .text {
      padding: 0;
      width: 100%;
    }
  }
}


.copyright {
  display: none;
  font-family: $font;
  color: white;
}
