
$font: 'IM Fell Double Pica', serif;

body {
  margin: 0;
  background-color: black;
}
.img {
  height: 110vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  background-image: url("../images/1.jpg");
  .center {
    width: 100%;
    padding-top: 200px;
  }
  #killjoy {
    background-image: url("../images/Killjoy.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    margin: auto;
    -webkit-animation: apparition 4s 1;
    animation: apparition 4s 1;
  }
  #baseline {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-family: $font;
    margin-top: 200px;
    -webkit-animation: apparition 8s 1;
    animation: apparition 8s 1;
  }
}
.thegame {
  background-image: url("../images/2.jpg");
  display: flex;
  .flex1 {
    width: 50%;
    .affaire {
      background-image: url("../images/affaire.png");
      background-repeat: no-repeat;
      width: 500px;
      height: 200px;
      margin-bottom: 4em;
    }
    .text {
      padding-top: 12em;
      padding-left: 5em;
      i {
        padding-bottom: 1em;
      }
      p {
        margin-left: 3em;
      }
    }
  }
  .flex2 {
    width: 50%;
    .download {
      background-image: url("../images/download1.png");
      width: 300px;
      height: 50px;
      margin: 50% auto;
      a {
        color: white;
        font-family: $font;
        font-size: 1.5em;
        position: relative;
        top: 10px;
        left: 65px;
        color: brown;
      }
    }
  }

}
.about {
  background-image: url("../images/3.jpg");
  .text {
    float: right;
    padding-right: 5em;
    padding-top: 16em;
    p {
      margin-right: 3em;
    }
  }
  .projet {
    background-image: url("../images/projet.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    margin-bottom: 4em;
    margin-left: 11.5em;
  }
}
p {
  font-family: $font;
  font-size: 1.3em;
  color: white;
  margin-top: 0;
  width: 30em;
}
@media screen and (max-width: 750px) {
  p {
    text-align: center;
    margin: auto;
    padding-top: 10em;
    width: 80%;
    font-size: 1.2em;
  }
  .thegame, .about {
    .text {
      padding: 0;
      width: 100%;
    }
  }
}

.copyright p {
  margin-top: 160px;
  text-align: right;
  font-family: $font;
  color: white;
}



@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
