---
title: KillJoy
---

<div class="title img">
  <div class="center"><div id="killjoy"></div></div>
  <p id="baseline">Sur la scène du crime</p>
</div>

<div class="thegame img">
  <div class="flex1">
    <div class="text">
      <div class="affaire"></div>
      <p><i>Manoir des Luttrell, Comté du Somerset, Angleterre, dans les années 1880.</i></p>
      <p>Après une soirée arrosée dans son manoir, George Luttrell est retrouvé assassiné d’un coup de poignard dans le dos. Une fois n’est pas coutume, il s’était adonné à des jeux d’argent entouré de ses amis et d’artistes. L’enquêteur Andrew Fawkes est appelé sur le lieu du crime. Sa mission, c’est la vôtre : élucider cette affaire qui fait trembler les plus hautes sphères de l’aristocratie anglaise. Pour l’accomplir, il faudra interroger tous les invités, démêler le vrai du faux et récolter des indices. En effet, tout le monde n’est pas prêt à dévoiler ses plus sombres secrets.
      </p>
    </div>
  </div>
  <div class="flex2">
    <div class="download"><a href="https://we.tl/zv1XxW3IKr">Télécharger le jeu</a></div>
  </div>
</div>

<div class="about img">
  <div class="text">
    <div class="projet"></div>
    <p>Une semaine. Un jeu. Un thème ? Coup de théâtre.
    Voici le challenge qui fut proposé à notre équipe composée de 6 étudiants en MMI (Bordeaux).
    Développement, Rédaction, Game Design, nous nous sommes tous répartis les tâches afin de parvenir à faire germer un jeu d’enquête.
    KillJoy est développé par Alexandre Pinzi & Pierre Moinet, doté d’une ambiance sonore imaginée par Clément Segade & Pierre Moinet, ainsi que designé et écrit par Alexandra Malaise, Domitille Tressens & Steven Roussel.
    </p>
</div>


